body {
	background-image:url("d1.jpg");
	background-size: cover;
	height: 20px;
	margin-left: 158px;
}

p {
	color:white;
	font-family: "Courier New";
	font-weight: bold;
	margin-left: 40px;
	margin-top: -10px;
	font-size: 25px;
}

#time {
	color:#333333;
	font-family: "Lucida Console";
	font-size: 40px;
}

h4 {
	color: #0A356F;
	font-family: Verdana;
	font-weight: bold;
	margin-top: 112px;
	font-size: 35px;

}

#date {
	margin-top: 0px;
}